<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271655546872-9pnq7j590kk3ammmq168o6caorqk3bca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271655546872-9pnq7j590kk3ammmq168o6caorqk3bca</string>
	<key>API_KEY</key>
	<string>AIzaSyCmIqQz4q1xGXlKAvTXWH1wLvRkDkUTUc0</string>
	<key>GCM_SENDER_ID</key>
	<string>271655546872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.noorahealth.carecompanionBD</string>
	<key>PROJECT_ID</key>
	<string>care-companion-bd-a75ba</string>
	<key>STORAGE_BUCKET</key>
	<string>care-companion-bd-a75ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271655546872:ios:24a875ec3ffd9bd33ab00d</string>
</dict>
</plist>